<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Some Website</title>
    </head>
    <body>
        <h1>Hi! We are down but we'll be right back!</h1>
        
        <p>Site is being updated! We will be right back!</p>
    
    {{> footer }}
    </body>
</html>